/* imported font */
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");

/* general stylings */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Cardo", serif;
}

body {
  background-color: #fff;
  padding: 5px;
}

h1,
h2 {
  font-size: 25px;
  margin: 10px 0 10px;
  text-align: center;
}

.intro-text {
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 1rem;
}

/* buttons stylings */
.btn {
  font-size: 1.2rem;
  padding: 16px 0;
  width: 15rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(212, 175, 55), rgb(255, 165, 0));
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  height: 2rem;
}

#highscores-btn {
  background: linear-gradient(180deg, rgb(0,255,255), rgb(15, 82, 186));
}

.container {
  padding: 1rem;
  position: relative;
  width: 90%;
  height: 100vh;
  margin: auto;
}

/* heading and navigations */
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.heading {
  padding-top: 1rem;
}

header {
  cursor: pointer;
  justify-content: space-between;
}

#nav {
  display: none;
}

nav .nav-level {
  width: fit-content;
  padding: 0.2em;
  height: fit-content;
  margin: 0.2em;
}

/* questions */
.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  background: rgb(212, 175, 55);
  font-size: 1.2rem;
}

.choice-container:hover {
  cursor: pointer;
  transform: scale(1.02);
  transform: 100ms;
}

.choice-text, .choice-prefix {
  padding-left: 0.5rem;
}

#question {
  font-size: 1.5rem;
}

#questions-page,
#end-page {
  display: none;
}

/* correct and incorrect answers styling */
.correct {
  background: linear-gradient(
    32deg,
    rgba(11, 223, 36) 0%,
    rgb(41, 232, 111) 100%
  );
}

.incorrect {
  background: linear-gradient(
    32deg,
    rgba(230, 29, 29, 1) 0%,
    rgb(224, 11, 11, 1) 100%
  );
}

/* Heads up Display */

#hud {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.hud-item {
  font-size: 1.3rem;
  padding: 0.75rem;
}

.hud-prefix {
  text-align: center;
}

.hud-main-text {
  text-align: center;
}

/* progress bar stylings */
#progressBar {
  width: 10rem;
  height: 2rem;
  border: 0.2rem solid rgb(11, 223, 36);
  border-radius: 50px;
  margin: 0.6rem 0 4rem;
}

#progressBarFull {
  height: 100%;
  background: rgb(11, 223, 36);
  width: 0%;
  border-radius: 50px;
}

/* high score page */
#scores-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 30rem;
  margin: auto;
}

input {
  width: 13rem;
  padding: 1rem;
  background: linear-gradient(180deg, rgb(0,255,255), rgb(15, 82, 186));
  outline: none;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

input::placeholder {
  color: #fff;
  font-size: 1rem;
}

#name {
  font-size: 1.2rem;
}

button {
  width: 15rem;
  padding: 1rem;
  background: linear-gradient(180deg, rgb(212, 175, 55), rgb(255, 165, 0));
  border: none;
  color: #fff;
  border-radius: 4px;
  outline: none;
}

#scores {
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

#error span {
  margin-right: 10px;
}

/* media queries */
@media only screen and (min-width: 900px) {
  .container {
    padding: 1rem;
    position: relative;
    width: 60%;
    height: 100vh;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  #nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

